@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap');

.todo-input {
  padding: 10px;
  height: 68px;
  width: 400px;
  border: none;
}
.todo-input:focus {
  outline: none;
  color: black;
}
input {
  color: #cecece;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: white;
  width: 80%;
  font-family: 'Exo 2', sans-serif;
}

.input {
  border: 1px solid #cecece;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: 579px;
  display: flex;
  justify-content: space-between;
}
.clear-btn{
  position: relative;
  top: 20px;
  left: 30px;
}

.clear-btn button{
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 5px;
}
.clear-btn button:hover{
  background-color: red;
  cursor: pointer;
}