.todo {
  width: 579px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.form {
  border-radius: 10px 10px 0px 0px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  color: #b4b4b4;
  opacity: 0.5;
}
.todo-list {
  width: 579px;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 10px;
}
.data{
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data img{
  height: 200px;
  width: 200px;
}

.data p{
  font-size: 18px;
  color: #858585;
  font-weight: 500;
  line-height: 21.6px;
  font-family: "Exo 2";
}
.todo-list ul {
  border-radius: 10px;
}
.form-list {
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.form-list span{
  position: absolute;
  right: 10px;
}
